#
# eInk configuration
#

config FB_EINK_LIBRARY
    bool "eInk Built-in Library"
    select FB_CFB_FILLRECT
    select FB_CFB_COPYAREA
    select FB_CFB_IMAGEBLIT
    select FB_SYS_FILLRECT
    select FB_SYS_COPYAREA
    select FB_SYS_IMAGEBLIT
    select FB_SYS_FOPS
    select ZLIB_INFLATE
    select ZLIB_DEFLATE
    select PROC_BOOTDATA
    default y

config FB_EINK
    tristate "eInk Umbrella Config (HAL, Waveform, Legacy Shim)"
    depends on FB

config FB_EINK_WAVEFORM
    tristate "eink Waveform Header Parser"
    depends on FB

config FB_EINK_LEGACY
    tristate "eInk Legacy Config for Shim"
    depends on FB_EINK

config FB_EINK_SHIM
    tristate "eink Shim Driver (Legacy-to-HAL Bridge)"
    depends on FB_EINK
    
config FB_EINK_HAL
    tristate "eink HAL Umbrella Config"
    depends on FB_EINK

config FB_EINK_HAL_EMULATOR
    tristate "eInk HAL Driver for the Emulator"
    depends on FB_EINK_HAL

config FB_EINK_HAL_FSLEPDC
    tristate "eInk HAL Driver for the FSL EPDC"
    depends on FB_EINK_HAL && ARCH_MXC && FB_MXC_EINK_PANEL

